#root {
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item + .list-item {
  margin-top: 0.5rem;
}

.input {
  padding: 0.5rem 0.5rem;
  min-width: 0;
}

.input + span,
span + .input {
  margin-left: 0.5rem;
}

.input + .button {
  margin-left: 0.5rem;
}

.button-group {
  margin-top: 0.5rem;
}

.button + .button {
  margin-left: 0.5rem;
}
