#root {
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  clip: rect(1px, 1px, 1px, 1px);
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item + .list-item {
  margin-top: 0.5rem;
}

.input {
  padding: 0.5rem 0.5rem;
  min-width: 0;
}

.list-item > span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.input + .button {
  margin-left: 0.5rem;
}

ul + .button-group {
  margin-top: 0.75rem;
}

.button + .button {
  margin-left: 0.5rem;
}
